.register{
     min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5px 80px;
    border: 1px solid rgb(46, 48, 23);
    border-radius: 5px;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

form p{
    font-style: italic;
    font-size: 0.9em;
    color: red;
    text-align: center;
    padding-top: 10px;
}

.form form button{
    padding: 10px 15px;
    font-weight: 700;
    width: 250px;
    border-radius: 50px;
    margin-top: 30px;
}

.form form label{
    font-size: 1.1em;
    font-weight: 800;
    text-transform: capitalize;
    opacity: 70%;
}


.form form input{
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid gray;
    width: 300px;
    margin-left: 5px;
}
